.container {
    max-width: 1200px;
}

/* Custom styles for select dropdowns to match Figma - if Tailwind default isn't enough */
select {
    background-position: left 0.75rem center;
    padding-right: 2.5rem; /* Space for the custom arrow */
    padding-left: 1rem;
}

.main-header {
    background-color: #005689;
}

